@import "tailwindcss";

@layer base {
  body {
    background-color: #000000;
    color: #f4f4f5; /* zinc-50 */
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}